body {
    margin: 0;
    padding: 0;
    background-color: #aac;
    font-family: sans-serif;
    color: #000000;
}

#container {
    margin: 0 auto;
    max-width: 750px;
    background-color: #ffffff;
    padding: 25px;
}

h1 {
    font-size: 3em;
    color: #000000;
    margin-bottom: 3px;
    font-style: italic;
}

a img { border: 0; }
h1 .subtitle {
    font-size: 40%;
    display: inline-block;
}
h1 a { text-decoration: none; color: black; }
h1:hover a { text-decoration: underline; }
h2 { font-size: 1.5em; color: #000000; }

.gittip { /* After-nick icon */
    vertical-align: middle;
    margin-left: -2px;
}
.ribbon {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.description {
    font-size: 1.2em;
    margin-bottom: 30px;
    margin-top: 30px;
    font-style: italic;
}

.filename { font-family: monospace; }
.download { float: right; }
.flattr_btn {
    float: right;
    margin-left: 0.5ex;
    margin-right: 0.5ex;
}
.flattr_btn .gitforked-button-container {
    display: block;
    margin: 0 auto 1ex;
}

.footer {
    text-align: center;
    padding-top: 30px;
    font-style: italic;
}
.footer img { vertical-align: top; }


dt {
    margin-top: 0.5em;
    font-weight: bold;
}
dl.big dt { margin-top: 2em; }
dd > ul { padding-left: 1em; }

pre {
    padding: 15px;
    border-radius: 1ex;
    background: black;
    color: white;

    -moz-border-radius: 1ex;
    -webkit-border-radius: 1ex;

    box-shadow: inset 2px 3px 5px black, 0px 1px 1px #333;
    -moz-box-shadow: inset 2px 3px 5px black, 0px 1px 1px #333;
    -webkit-box-shadow: inset 2px 3px 5px black, 0px 1px 1px #333;
}

/* Draw the prompt in CSS for easy copy-paste */
kbd.shell_cmd:before { content: "$ "; }

/* Adapted from Twitter Bootstrap */
.btn {
  display: inline-block;
  padding: 1px 2px;
  margin-bottom: 0;
  font-size: 10px;
  font-weight: normal;
  line-height: 16px;
  color: #333333;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:focus,
.btn:active {
  color: #333333;
  background-color: #e6e6e6;
}

.btn:active { background-color: #cccccc \9; }

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn img { vertical-align: middle }
