---
layout: default
title: Main
---
<div class="description">
    Keyboard-driven Window Tiling for your existing X11 window manager
</div>

<p>QuickTile is a simple utility, inspired by WinSplit Revolution for Windows,
    which adds window-tiling keybindings to your existing X11 window manager.</p>
<p>You can also think of it as a standalone alternative to the keyboard-related features of the Compiz Grid plugin.</p>
<!-- TODO: Illustrations to explain how QuickTile's keybindings work -->

<dl>
    <dt>Dependencies {% include apt_btn.html packages="python,python-gtk2,python-xlib,python-dbus,python-wnck" %}</dt>
    <dd><a href="http://python.org/">Python</a> 2.4+,
        <a href="http://pygtk.org/">PyGTK</a> 2.2+,
        <a href="http://ftp.gnome.org/pub/GNOME/sources/gnome-python-desktop/">python-wnck</a> 2.20+, and (optional)
        <a href="http://python-xlib.sourceforge.net/">python-xlib</a> or
        <a href="http://www.freedesktop.org/wiki/Software/DBusBindings">dbus-python</a></dd>

    <dt>Caveats</dt>
    <dd>There are a few minor <a href="https://github.com/ssokolow/quicktile/issues?labels=bug%2Cconfirmed"
        >known bugs</a> and the minimum
        dependency versions have not been re-confirmed recently.</dd>

    <dt>Install</dt>
    <dd><ul>
            <li>Just unpack and run. No installation necessary.</li>
            <li>Keybindings for <kbd>--daemonize</kbd> can be edited in
                <kbd>~/.config/quicktile.cfg</kbd></li>
            <li>To install QuickTile system-wide and add it to your
                desktop's list of programs to be started on login,
                run <kbd>sudo ./setup.py install</kbd></li>
    </ul></dd>

    <dt>License</dt>
    <dd>GNU GPL 2.0 or later</dd>

    <dt>Documentation</dt>
    <dd><ul>
            <li><a class="filename" href="http://github.com/ssokolow/quicktile">README</a></li>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="https://github.com/ssokolow/quicktile/wiki/Future-Plans">Future Plans</a></li>
            <li><a href="apidocs/index.html">API documentation</a></li>
    </ul></dd>
    <dt>Contact</dt>
    <dd><ul>
            <li>For bugs and feature requests, please use the <a href="https://github.com/ssokolow/quicktile/issues">issue tracker</a>.</li>
            <li>When submitting patches, please <a href="http://help.github.com/send-pull-requests/">send a pull request</a>.</li>
            <li>For everything else, message <a href="http://github.com/ssokolow">Stephan Sokolow (deitarion/SSokolow)</a></li>
    </ul></dd>
</dl>

{% include contrib_box.html %}

<h2>Download</h2>
<div>
    <p>
        You can download this project in either
        <a href="http://github.com/ssokolow/quicktile/zipball/master">zip</a> or
        <a href="http://github.com/ssokolow/quicktile/tarball/master">tar</a> formats.
    </p>
    <p>You can also clone the project with <a href="http://git-scm.com">Git</a>
        by running:
    </p>
    <pre class="beside_contrib"><kbd class="shell_cmd">git clone git://github.com/ssokolow/quicktile</kbd></pre>
</div>

<div class="footer">
    <img src="img/wrench.png" alt="" />
    Report issues and browse the commit history on GitHub : <a href="http://github.com/{{ site.github_proj }}">{{ site.github_proj }}</a>
</div>
