<div class="contrib_box">
    Contributions are the best thanks
    <dl>
        <dt>Code (Best)</dt>
        <dd class="icons">
            <ul class="icons">
                <li><a href="https://github.com/{{ site.github_proj }}"
                        title="GitHub Repo"><img
                        src="contrib_box/github.png" alt="GitHub" /></a></li>
                <li><a href="{{ site.issues_url }}"
                        title="Bug Tracker"><img
                        src="contrib_box/bug.png" alt="Bug Tracker" /></a></li>
            </ul>
        </dd>
        <dt>Publicity (Better)</dt>
        <dd>Just tell people</dd>
        <dt>Snacks (Good)</dt>
        <dd class="icons">
            <ul class="icons">
                <li><a href="https://flattr.com/thing/{{ site.flattr_id }}"
                        title="Flattr"><img
                        src="contrib_box/flattr.png" alt="Flattr" /></a></li>
                <li><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input type="hidden" name="cmd" value="_s-xclick"><input type="hidden" name="hosted_button_id" value="{{ site.paypal_btn_id }}"><input type="image" src="contrib_box/paypal.png" name="submit" alt="PayPal" title="PayPal"></form></li>
                <li><a title="BitCoin" href="{{ site.bitcoin_uri }}"
                    ><img src="contrib_box/bitcoin.png" alt="BitCoin"
                /></a></li>
                <li><a href="https://www.gittip.com/{{ site.gittip_user }}"
                    title="Gittip"
                        ><img src="contrib_box/gittip.png" alt="Gittip" /></a></li>
            </ul>
        </dd>
    </dl>
</div>

