<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=550" />

        <title>{{ page.title }} - QuickTile by ssokolow</title>

        <link rel="stylesheet" type="text/css" href="css/base.css" />
        <link rel="stylesheet" type="text/css" href="css/pygments.css" />
        <script type="text/javascript">
        /* <![CDATA[ */
            (function() {
                var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
                s.type = 'text/javascript';
                s.async = true;
                s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto&popout=0';
                t.parentNode.insertBefore(s, t);
            })();
        /* ]]> */
        </script>
    </head>

    <body>
        <div class="ribbon"><a href="http://github.com/ssokolow/quicktile"><img src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a></div>

        <div id="container">

            <div class="download">
                <a href="http://github.com/ssokolow/quicktile/zipball/master">
                    <img width="90" src="http://github.com/images/modules/download/zip.png" alt="Zip" /></a>
                <a href="http://github.com/ssokolow/quicktile/tarball/master">
                    <img width="90" src="http://github.com/images/modules/download/tar.png" alt="Tar" /></a>
            </div>

            <h1><a href="./">QuickTile</a>
                <span class="subtitle">by <a href="http://github.com/ssokolow">ssokolow</a>
                    <a href="https://www.gittip.com/ssokolow/"><img class="gittip"
                        src="img/gittip_12.png" title="Gittip" alt="Gittip"/></a>
                </span></h1>

            {{ content }}

        </div>

        <!-- Piwik -->
        <script type="text/javascript">
            var pkBaseURL = (("https:" == document.location.protocol) ? "https://blog.ssokolow.com/stats/" : "http://blog.ssokolow.com/stats/");
            document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
            </script><script type="text/javascript">
            try {
                var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 6);
                piwikTracker.trackPageView();
                piwikTracker.enableLinkTracking();
            } catch( err ) {}
        </script><noscript><p><img src="http://blog.ssokolow.com/stats/piwik.php?idsite=6" style="border:0" alt="" /></p></noscript>
        <!-- End Piwik Tracking Code -->
    </body>
</html>
    <!-- vi: set noexpandtab: -->

