/* Disable CSSLint because it doesn't play nicely with CSS that's extending
 * an existing system of selectors that doesn't also follow its rules. */
/* csslint ignore:start */
body {
  background: #aac;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
div.body h1 {
  font-size: 230%;
  font-weight: bold;
}

div.body h2 {
  font-size: 150%;
}
div.body h3 {
  font-size: 130%;
}
div.body h4 {
  font-size: 110%;
}
div.body h5 {
  font-size: 110%;
}
div.document,
div.footer {
  background: white;
  margin-top: 0;
  padding: 30px 20px;
}
div.document {
  flex-grow: 1;
}
div.footer {
  margin-bottom: 0;
}
/* csslint ignore:end */
