/* Disable CSSLint because it doesn't play nicely with CSS that's extending
 * an existing system of selectors that doesn't also follow its rules. */
/* csslint ignore:start */

/* Replicate the old QuickTile "page on background" aesthetic and ensure the
 * content area always extends to the bottom of the viewport */
body {
  background: #aac;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
div.document,
div.footer {
  background: white;
  margin-top: 0;
  padding: 30px 20px;
}
div.document {
  flex-grow: 1;
}
div.footer {
  margin-bottom: 0;
}

/* I think the default heading font sizes are too big */
div.body h1 {
  font-size: 230%;
  font-weight: bold;
}

div.body h2 {
  font-size: 150%;
}
div.body h3 {
  font-size: 130%;
}
div.body h4 {
  font-size: 110%;
}
div.body h5 {
  font-size: 110%;
}

/* I don't like what auto-hyphenation does to things */
div.body p,
div.body dd,
div.body li,
div.body blockquote {
  -moz-hyphens: manual;
  -ms-hyphens: manual;
  -webkit-hyphens: manual;
  hyphens: manual;
}

/* csslint ignore:end */
